
.App {
	padding: 7vh max(50px, 10vw);
	margin: 0 auto;
	max-width: min(500px, 80vw);
}


.Candidate {
	margin: 0 auto;
	colorSecondary: rgb(1);
}

.Position {
	padding-bottom:10px;
	padding-top:10px;
}

.Candidate-list {
	list-style: none;
	padding-left: 0px;
	margin: 0 auto;
}

.Candidate-slider {
	color: "Blue";
}

