
.App {
	margin: 5vh auto;
	max-width: min(700px, 85vw);
}

.BallotWrapper {
	margin: auto;
	max-width: 650px;
}

.Ballot {
	padding: min(30px, 3vw) min(50px, 5vw);
	margin: auto;
	max-width: 600px;
}

.Candidate {
	margin: 0 0 5px 0;
	colorSecondary: rgb(1);
}

.Position {
	margin: 20px auto;
}

.Candidate-list {
	list-style: none;
	margin: 0 0;
}

.Candidate-slider {
	color: "Blue";
}

.Candidate-slider.MuiSlider-track{
	height: 10
}
