
.App {
	margin: 7vh auto;
	max-width: min(600px, 80vw);
}

.Ballot {
	margin: auto;
	max-width: 500px;
}


.Candidate {
	margin: 0 0;
	colorSecondary: rgb(1);
}

.Position {
	margin-bottom:20px;
	margin-top:20px;
}

.Candidate-list {
	list-style: none;
	margin: 0 0;
}

.Candidate-slider {
	color: "Blue";
}

